Repository imgarylai/ts-package-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

chore(deps): update dependency lint-staged to v12.4.3
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update typescript-eslint monorepo to v5.27.0
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency @types/jest to v27.5.2
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency ts-jest to v28.0.4
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency @types/jest to v28.1.1
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency typescript to v4.7.3
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency eslint-plugin-jest to v26.5.1
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency eslint-plugin-jest to v26.5.3
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update typescript-eslint monorepo to v5.27.1
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency jest to v28.1.1
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update typescript-eslint monorepo to v5.28.0
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency ts-jest to v28.0.5
  package.json
  yarn.lock
Due: sort-package-json

chore(deps): update dependency prettier to v2.7.0
  package.json
  yarn.lock
Due: sort-package-json

fix: fix all dependencies
  package-lock.json
  package.json
  yarn.lock
Due: sort-package-json

docs: update readme.md
  README.md
Due: none

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: sort-package-json

chore: add minimum Node.js and npm version requirements
  package.json
Due: sort-package-json

chore: enforce strict engine requirements and update documentation
  .npmrc
  README.md
Due: none

feat: add modern TypeScript package features
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  typedoc.json
Due: sort-package-json, prettier --write

ci: fix github actions
  .github/workflows/test.yml
Due: none

build: mv to tsup
  README.md
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.test.json
  tsup.config.ts
Due: sort-package-json, prettier --write

docs: update readme
  README.md
Due: none

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: *.{ts,tsx}
