Repository imgarylai/ts-package-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

build: update renovate
  README.md
  renovate.json
Due: none

ci(npm): add github action release
  .github/workflows/release.yml
  .releaserc.json
  README.md
Due: none

ci(npm): add github action release
  package.json
Due: sort-package-json

chore: add semantic-release dependencies
  package-lock.json
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  35cb2c39ee8e338b4ec792da7ca696216158a507
Due: none

fix(package.json): remove scope
  package-lock.json
  package.json
  src/index.ts
Due: sort-package-json, prettier --write

ci: fix package-lock.json
  package-lock.json
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  40b90fd60b17c72208c5c3b75019a1d799a61c12
Due: none

ci: remove github release
  .github/workflows/release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: sort-package-json

build: add prettier-package-json to lint-staged
  package-lock.json
  package.json
Due: sort-package-json

fix: cleanup package-lock.json
  package-lock.json
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  13da09ed0bcaf0dce07aee289f2623d16689160c
Due: none

feat: increase min node and npm version
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  a7ae60bc7215289180f5c1e1ee5f58c0ac335662
Due: none

docs: setup docs
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
  typedoc.json
Due: sort-package-json

ci: fix npm issue
  .github/workflows/release.yml
  .husky/pre-commit
  package.json
  renovate.json
Due: sort-package-json

chore(deps): upgrade semantic-release to v25
  mise.toml
  package-lock.json
  package.json
Due: sort-package-json

ci: update test matrix to Node 22.x and 24.x
  .github/workflows/test.yml
Due: none

docs: add Traditional Chinese README and update Node.js requirement
  README.md
  README.zh-TW.md
Due: none

chore: consolidate config files
  .eslintignore
  .eslintrc
  .lintstagedrc
  .releaserc.json
  eslint.config.js
  package.json
Due: sort-package-json

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  0018e8b9ee586efc8f91cf85fe49293ebfeaf398
Due: none

ci: update release workflow
  .github/workflows/release.yml
  eslint.config.js
  package.json
Due: sort-package-json

ci: fix workflow name
  .github/workflows/test.yml
Due: none

chore: upgrade project to typescript 6
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.test.json
Due: sort-package-json

ci: combine test and release into unified workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: *.{ts,tsx}
